@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background-color: #2b2e37;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

main { text-align: center; }

main .wrapper {
  padding: 20px;
  background-color:#f8f9fb;
  position: relative;
}

main h3 {
  margin: 20px;
  font-size: 24px;
  text-transform: capitalize;
  word-spacing: 3px;
}

.message {
  position: absolute;
  top: 20px;
  width: 20%;
  padding: 15px 0;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  left: 61%;
  transform: scale(0);
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group,
.form-control {
  width: 100%;
  position: relative;
}

.form-group input,
.form-control .btn {
  width: 60%;
  padding: 8px 3.5%;
  margin: 5px;
}

.form-group input {
  border: 3px solid #a26e5e;
  border-radius: 4px;
}

.form-group input::placeholder { text-transform: capitalize; }

.form-group::before {
  padding:8px 10px;
  font-family: FontAwesome;
  background: #a26e5e;
  color: #fff; 
  font-size: 18px;
  left: 16.4%;
  top: 5px;
  position: absolute;
}

.form-group:nth-child(1)::before { content: '\f007'; }
.form-group:nth-child(2)::before { content: '\f022'; }
.form-group:nth-child(3)::before { content: '\f02d'; }

.form-control .btn {
  width: 68%;
  margin-top: 10px;
  border : 3px solid #d8d3d0;
  background: #fff;
  color: #d8d3d0;
  text-transform: uppercase;
  transition: all .3s ease;
}

.form-control .btn:hover { 
  background: #28a745;
  color: #fff;
}

.customer-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.customer {
  width: 24%;
  margin: 10px;
  border: 1px solid #d8d3d0;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.customer:hover::before {
  content: "to delete click me";
  position: absolute;
  top: -40px;
  border-radius: 10px;
  background: chartreuse;
  padding: 5px 6%;
  color: darkslategrey;
  font-weight: 600;
}

.customer:hover::after {
content: '';
border-top: solid 10px chartreuse;
border-left: solid 10px transparent;
border-right: solid 10px transparent;
position: absolute;
top: -13px;
left: 24%;
}

.customer img { max-height: 240px; }

.customer-details{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.customer-details li{
  display: flex;
  padding: 5px;
  text-align: left;
}

.customer-details span {
  display: inline-block;
  padding: 5px 20px;
  text-transform: capitalize;
}

.customer-details span[class*="label"] {
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.label-name { background: #ffc107; }
.label-course { background: #28a745; }
.label-author { background: #dc3545; }

.error,
.success {
  width: 14%;
  padding: 10px;
  border-radius: 5px;
  background: #dc3545;
  color: #fff;
  position: absolute;
  top: 5px;
  left: -15px;
  transform: scale(0);
}

.success,
.message-success { background: #28a745; }
.message-error { background: #dc3545;}

.form-control .success-btn {
  border : 3px solid #28a745;
  color: #28a745;
  font-weight: 600;
}

.visible { 
  display: inline-block;
  transform: scale(1);
  transition: all .3s ease-in-out;
 }
/*=================================
  main styling ends here
=================================*/
